$col-bg:        #003242;
$col-secondary: #101010;
$col-primary:   #00b8eb;
$col-accent:    #0ff;
$col-text:      #fefdfe;

.home {
    background: transparent;
    font-family: "JetBrains Mono";
    color: $col-text;
    opacity: 0.4;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    & .day {
	font-size: 6em;
	margin-bottom: -0.5em;
    }
    & .time {
	font-size: 25em;
	font-weight: bold;
	& .minute {
	    font-size: .7em;
	    font-weight: 500;
	    opacity: 0.7
	}
    }
    & .info {
	font-size: 2em;
	margin-bottom: 2rem;
	& .network {
	    & .icon {
		font-size: 2em;
		margin-right: 1rem;
	    }
	    & .ip {
		font-size: 1rem;
	    }
	}
    }
}

.statusbar {
    background: $col-bg;
    color: $col-text;
    font-family: "Atkinson Hyperlegible", "Symbols Nerd Font";
    font-size: 1.05em;
    border-radius: 0 0 0.5em 0.5em;
    & .time {
	font-weight: bold;
    }
    & .date {
	color: $col-primary;
    }
}
.bar {
    padding: 0 1em;
}
.ws > * > * {
    padding: 0em 0.4em;
    transition: background 1s;
    min-width: 1em;
    color: $col-primary;
}
.ws-current {
    font-weight: bold;
    color: $col-text;
    background: $col-secondary;
}
.ws-urgent{
    animation: warn 1s infinite;
}
@keyframes warn {
    from { background: $col-text; }
    to { background: $col-accent; }
}
.ws-hidden{}
.ws-layout{
    margin-left: 0.5em;
    font-size: 0.9em;
}

.sysinfo {
    font-size: 0.9em;
}

.battery trough {
    min-height: 0.3em;
    min-width: 5em;
    background: $col-secondary;
    border: 0;
}
.battery progress {
    min-height: 0.3em;
    background: $col-primary;
    border: 0;
}

.notify:hover {
    background: $col-secondary;
}
