/*Small scrollbar */
:root{ scrollbar-color: rgb(221, 182, 242) rgb(30, 30, 46) }
*{ scrollbar-width: thin }

/*Dark mode pdf */
@-moz-document regexp("^(?!.*\\.pdf\\?normal).*") {
  #sidebarContainer > #sidebarContent > #thumbnailView {
    --sidebaritem-bg-color: #38383D;
  }

  #viewerContainer > #viewer > .page > .canvasWrapper > canvas {
    filter: grayscale(100%) invert(90%);
  }

  #sidebarContainer > #sidebarContent > #thumbnailView .thumbnailImage {
    filter: grayscale(100%) invert(90%);
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.5), 0 2px 8px hsla(0, 0%, 100%, 0.3) !important;
  }
}
